<?xml version="1.0" encoding="utf-8" ?>
<Bus name="MainTest">
    <Device type="ZXMAK2.Hardware.Pentagon.UlaPentagon" />
    <Device type="ZXMAK2.Hardware.General.BetaDiskInterface" />
    <Device type="ZXMAK2.Hardware.General.AY8910" />
    <Device type="ZXMAK2.Hardware.General.BeeperDevice" />
    <Device type="ZXMAK2.Hardware.General.TapeDevice" />
    <Device type="ZXMAK2.Hardware.General.KeyboardDevice" />
    <Device type="ZXMAK2.Hardware.General.KempstonMouseDevice" />
    <Device type="ZXMAK2.Hardware.General.AyMouseDevice" />
    <Device type="ZXMAK2.Hardware.General.Debugger" />
    <Device type="ZXMAK2.Hardware.Pentagon.MemoryPentagon128" />
</Bus>
