#heading
{
font: bold italic 2em/1em "Times New Roman", "MS Serif", "New York", serif;
margin: 0;
padding: 0;
border-bottom: groove #e7ce00 thin;
background-color: #D0D0D0;
color: #e7ce00;
}

#heading p
{
 padding: 0;
 color: blue;
}

h4
{
   padding: 0;
   margin-bottom: 1px;
}

#code {
    width: auto;
    /*height: 25px;*/
    position: relative;
    /*float: left;*/
    /*background-color: lightgray;*/
}

p
{
 	text-indent: 2px;
}
