<?xml version="1.0" encoding="utf-8" ?>
<KeyboardStateMapper xmlns="http://www.w3.org/2001/XMLSchema-instance">
    <!-- 
    Managed DirectX to ZXMAK2 key mapping
    
    Name=ZXMAK2.Host.Entities.Key
    Value=Microsoft.DirectX.DirectInput.Key
    -->
    <Key Name="D1" Value="D1" />
    <Key Name="D2" Value="D2" />
    <Key Name="D3" Value="D3" />
    <Key Name="D4" Value="D4" />
    <Key Name="D5" Value="D5" />
    <Key Name="D6" Value="D6" />
    <Key Name="D7" Value="D7" />
    <Key Name="D8" Value="D8" />
    <Key Name="D9" Value="D9" />
    <Key Name="D0" Value="D0" />
    <Key Name="Q" Value="Q" />
    <Key Name="W" Value="W" />
    <Key Name="E" Value="E" />
    <Key Name="R" Value="R" />
    <Key Name="T" Value="T" />
    <Key Name="Y" Value="Y" />
    <Key Name="U" Value="U" />
    <Key Name="I" Value="I" />
    <Key Name="O" Value="O" />
    <Key Name="P" Value="P" />
    <Key Name="A" Value="A" />
    <Key Name="S" Value="S" />
    <Key Name="D" Value="D" />
    <Key Name="F" Value="F" />
    <Key Name="G" Value="G" />
    <Key Name="H" Value="H" />
    <Key Name="J" Value="J" />
    <Key Name="K" Value="K" />
    <Key Name="L" Value="L" />
    <Key Name="Z" Value="Z" />
    <Key Name="X" Value="X" />
    <Key Name="C" Value="C" />
    <Key Name="V" Value="V" />
    <Key Name="B" Value="B" />
    <Key Name="N" Value="N" />
    <Key Name="M" Value="M" />
    <Key Name="Space" Value="Space" />
    <Key Name="Return" Value="Return" />
    <Key Name="F1" Value="F1" />
    <Key Name="F2" Value="F2" />
    <Key Name="F3" Value="F3" />
    <Key Name="F4" Value="F4" />
    <Key Name="F5" Value="F5" />
    <Key Name="F6" Value="F6" />
    <Key Name="F7" Value="F7" />
    <Key Name="F8" Value="F8" />
    <Key Name="F9" Value="F9" />
    <Key Name="F10" Value="F10" />
    <Key Name="F11" Value="F11" />
    <Key Name="F12" Value="F12" />
    <Key Name="F13" Value="F13" />
    <Key Name="F14" Value="F14" />
    <Key Name="F15" Value="F15" />
    <Key Name="LeftShift" Value="LeftShift" />
    <Key Name="RightShift" Value="RightShift" />
    <Key Name="LeftAlt" Value="LeftAlt" />
    <Key Name="RightAlt" Value="RightAlt" />
    <Key Name="LeftControl" Value="LeftControl" />
    <Key Name="RightControl" Value="RightControl" />
    <Key Name="LeftWindows" Value="LeftWindows" />
    <Key Name="RightWindows" Value="RightWindows" />
    <Key Name="UpArrow" Value="UpArrow" />
    <Key Name="LeftArrow" Value="LeftArrow" />
    <Key Name="RightArrow" Value="RightArrow" />
    <Key Name="DownArrow" Value="DownArrow" />
    <Key Name="Insert" Value="Insert" />
    <Key Name="Delete" Value="Delete" />
    <Key Name="Home" Value="Home" />
    <Key Name="End" Value="End" />
    <Key Name="PageUp" Value="PageUp" />
    <Key Name="PageDown" Value="PageDown" />
    <Key Name="Escape" Value="Escape" />
    <Key Name="Tab" Value="Tab" />
    <Key Name="Minus" Value="Minus" />
    <Key Name="Equals" Value="Equals" />
    <Key Name="BackSpace" Value="BackSpace" />
    <Key Name="CapsLock" Value="CapsLock" />
    <Key Name="NumPadPlus" Value="NumPadPlus" />
    <Key Name="NumPadMinus" Value="NumPadMinus" />
    <Key Name="NumPadStar" Value="NumPadStar" />
    <Key Name="NumPadSlash" Value="NumPadSlash" />
    <Key Name="Period" Value="Period" />
    <Key Name="Comma" Value="Comma" />
    <Key Name="SemiColon" Value="SemiColon" />
    <Key Name="Apostrophe" Value="Apostrophe" />
    <Key Name="Slash" Value="Slash" />
    <Key Name="LeftBracket" Value="LeftBracket" />
    <Key Name="RightBracket" Value="RightBracket" />
    <Key Name="NumPadEnter" Value="NumPadEnter" />
    <Key Name="BackSlash" Value="BackSlash" />
    <Key Name="Grave" Value="Grave" />
    <Key Name="NumPad0" Value="NumPad0" />
    <Key Name="NumPad1" Value="NumPad1" />
    <Key Name="NumPad2" Value="NumPad2" />
    <Key Name="NumPad3" Value="NumPad3" />
    <Key Name="NumPad4" Value="NumPad4" />
    <Key Name="NumPad5" Value="NumPad5" />
    <Key Name="NumPad6" Value="NumPad6" />
    <Key Name="NumPad7" Value="NumPad7" />
    <Key Name="NumPad8" Value="NumPad8" />
    <Key Name="NumPad9" Value="NumPad9" />
    <Key Name="NumPadComma" Value="NumPadComma" />
    <Key Name="NumPadPeriod" Value="NumPadPeriod" />
</KeyboardStateMapper>
