<?xml version="1.0" encoding="utf-8" ?>
<KeyboardBinding xmlns="http://www.w3.org/2001/XMLSchema-instance">
    <!--
        Spectrum key to ZXMAK2 key binding
    
        KeyBinding: Key={SpeccyKey} Condition={HostKey}
        Condition: Key={HostKey} IsPressed={True/False}
    -->

    <!-- 12345 -->
    <KeyBinding Key="D1">
        <Condition Key="D1"/>
        <Condition Key="Escape"/>
    </KeyBinding>
    <KeyBinding Key="D2" Condition="D2" />
    <KeyBinding Key="D3" Condition="D3" />
    <KeyBinding Key="D4" Condition="D4" />
    <KeyBinding Key="D5">
        <Condition Key="D5"/>
        <Condition Key="LeftArrow"/>
    </KeyBinding>

    <!-- 67890 -->
    <KeyBinding Key="D6">
        <Condition Key="D6"/>
        <Condition Key="DownArrow"/>
    </KeyBinding>
    <KeyBinding Key="D7">
        <Condition Key="D7"/>
        <Condition Key="UpArrow"/>
        <!-- ' -->
        <MultiCondition>
            <Condition Key="RightShift" IsPressed="False"/>
            <Condition Key="Apostrophe"/>
        </MultiCondition>
    </KeyBinding>
    <KeyBinding Key="D8">
        <Condition Key="D8"/>
        <Condition Key="RightArrow"/>
    </KeyBinding>
    <KeyBinding Key="D9" Condition="D9" />
    <KeyBinding Key="D0">
        <Condition Key="D0"/>
        <Condition Key="BackSpace"/>
        <!-- _ -->
        <MultiCondition>
            <Condition Key="RightShift"/>
            <Condition Key="Minus"/>
        </MultiCondition>
    </KeyBinding>

    <!-- QWERT -->
    <KeyBinding Key="Q" Condition="Q" />
    <KeyBinding Key="W" Condition="W" />
    <KeyBinding Key="E" Condition="E" />
    <KeyBinding Key="R">
        <Condition Key="R"/>
        <MultiCondition>
            <Condition Key="RightShift"/>
            <Condition Key="Comma"/>
        </MultiCondition>
    </KeyBinding>
    <KeyBinding Key="T">
        <Condition Key="T"/>
        <MultiCondition>
            <Condition Key="RightShift"/>
            <Condition Key="Period"/>
        </MultiCondition>
    </KeyBinding>

    <!-- YUIOP -->
    <KeyBinding Key="Y" Condition="Y" />
    <KeyBinding Key="U" Condition="U" />
    <KeyBinding Key="I">
        <Condition Key="I"/>
        <Condition Key="Tab"/>
    </KeyBinding>
    <KeyBinding Key="O">
        <Condition Key="O"/>
        <MultiCondition>
            <Condition Key="RightShift" IsPressed="False"/>
            <Condition Key="SemiColon"/>
        </MultiCondition>
    </KeyBinding>
    <KeyBinding Key="P">
        <Condition Key="P"/>
        <MultiCondition>
            <Condition Key="RightShift"/>
            <Condition Key="Apostrophe"/>
        </MultiCondition>
    </KeyBinding>

    <!-- ASDFG -->
    <KeyBinding Key="A" Condition="A" />
    <KeyBinding Key="S" Condition="S" />
    <KeyBinding Key="D" Condition="D" />
    <KeyBinding Key="F" Condition="F" />
    <KeyBinding Key="G" Condition="G" />

    <!-- HJKL<ENTER> -->
    <KeyBinding Key="H" Condition="H" />
    <KeyBinding Key="J">
        <Condition Key="J"/>
        <Condition Key="NumPadMinus"/>
        <MultiCondition>
            <Condition Key="RightShift" IsPressed="False"/>
            <Condition Key="Minus"/>
        </MultiCondition>
    </KeyBinding>
    <KeyBinding Key="K">
        <Condition Key="K"/>
        <Condition Key="NumPadPlus"/>
        <MultiCondition>
            <Condition Key="RightShift"/>
            <Condition Key="Equals"/>
        </MultiCondition>
    </KeyBinding>
    <KeyBinding Key="L">
        <Condition Key="L"/>
        <MultiCondition>
            <Condition Key="RightShift" IsPressed="False"/>
            <Condition Key="Equals"/>
        </MultiCondition>
    </KeyBinding>
    <KeyBinding Key="Enter">
        <Condition Key="Return"/>
        <Condition Key="NumPadEnter"/>
    </KeyBinding>

    <!-- <CS>ZXCV -->
    <KeyBinding Key="CapsShift">
        <Condition Key="LeftShift"/>
        <Condition Key="Escape"/>
        <Condition Key="LeftArrow"/>
        <Condition Key="RightArrow"/>
        <Condition Key="UpArrow"/>
        <Condition Key="DownArrow"/>
        <Condition Key="BackSpace"/>
        <Condition Key="CapsLock"/>
        <Condition Key="Tab"/>
    </KeyBinding>
    <KeyBinding Key="Z">
        <Condition Key="Z"/>
        <MultiCondition>
            <Condition Key="RightShift"/>
            <Condition Key="SemiColon"/>
        </MultiCondition>
    </KeyBinding>
    <KeyBinding Key="X" Condition="X" />
    <KeyBinding Key="C">
        <Condition Key="C"/>
        <!-- ? -->
        <MultiCondition>
            <Condition Key="RightShift"/>
            <Condition Key="Slash"/>
        </MultiCondition>
    </KeyBinding>
    <KeyBinding Key="V">
        <Condition Key="V"/>
        <Condition Key="NumPadSlash"/>
        <MultiCondition>
            <Condition Key="RightShift" IsPressed="False"/>
            <Condition Key="Slash"/>
        </MultiCondition>
    </KeyBinding>

    <!-- BNM<SS><SP> -->
    <KeyBinding Key="B">
        <Condition Key="B"/>
        <Condition Key="NumPadStar"/>
    </KeyBinding>
    <KeyBinding Key="N">
        <Condition Key="N"/>
        <!-- , -->
        <MultiCondition>
            <Condition Key="RightShift" IsPressed="False"/>
            <Condition Key="Comma"/>
        </MultiCondition>
    </KeyBinding>
    <KeyBinding Key="M">
        <Condition Key="M"/>
        <!-- . -->
        <MultiCondition>
            <Condition Key="RightShift" IsPressed="False"/>
            <Condition Key="Period"/>
        </MultiCondition>
    </KeyBinding>
    <KeyBinding Key="SymbolShift">
        <Condition Key="RightShift"/>
        <Condition Key="CapsLock"/>
        <Condition Key="NumPadPlus"/>
        <Condition Key="NumPadMinus"/>
        <Condition Key="NumPadStar"/>
        <Condition Key="NumPadSlash"/>
        <Condition Key="Period"/>
        <Condition Key="Comma"/>
        <Condition Key="SemiColon"/>
        <Condition Key="Apostrophe"/>
        <Condition Key="Slash"/>
        <Condition Key="Minus"/>
        <Condition Key="Equals"/>
        <!--
        <Condition Key="LeftBracket"/>
        <Condition Key="RightBracket"/>
        -->
    </KeyBinding>
    <KeyBinding Key="Space" Condition="Space" />
</KeyboardBinding>
