<?xml version="1.0" encoding="utf-8" ?>
<Machines>
    
    <Bus name="ATM Turbo [V4.50]">
        <Device type="ZXMAK2.Hardware.Atm.UlaAtm450" />
        <Device type="ZXMAK2.Hardware.General.FddController" />
        <Device type="ZXMAK2.Hardware.Atm.IdeAtm" />
        <Device type="ZXMAK2.Hardware.General.AY8910" />
        <Device type="ZXMAK2.Hardware.General.BeeperDevice" noDos="false" mask="0x05" port="0xFE"  />
        <Device type="ZXMAK2.Hardware.General.TapeDevice" noDos="false" mask="0x05" port="0xFE" />
        <Device type="ZXMAK2.Hardware.General.KeyboardDevice" noDos="false" mask="0x05" port="0xFE" />
        <Device type="ZXMAK2.Hardware.General.Debugger" />
        <Device type="ZXMAK2.Hardware.Atm.MemoryAtm450" />
    </Bus>
    
    <Bus name="ATM Turbo 2+ [V7.10]">
        <Device type="ZXMAK2.Hardware.Atm.UlaAtm450" />
        <Device type="ZXMAK2.Hardware.General.FddController" />
        <Device type="ZXMAK2.Hardware.Atm.IdeAtm" />
        <Device type="ZXMAK2.Hardware.General.AY8910" />
        <Device type="ZXMAK2.Hardware.General.BeeperDevice" noDos="false" mask="0x07" port="0xFE" />
        <Device type="ZXMAK2.Hardware.General.TapeDevice" noDos="false" mask="0x07" port="0xFE" />
        <Device type="ZXMAK2.Hardware.General.KeyboardDevice" noDos="false" mask="0x07" port="0xFE" />
        <Device type="ZXMAK2.Hardware.General.Debugger" />
        <Device type="ZXMAK2.Hardware.Atm.MemoryAtm710" />
    </Bus>
    
    <Bus name="BYTE 48K">
        <Device type="ZXMAK2.Hardware.ZXBYTE.UlaByte_Late" />
        <Device type="ZXMAK2.Hardware.General.BeeperDevice" noDos="true" mask="0x35" port="0xFE" />
        <Device type="ZXMAK2.Hardware.General.TapeDevice" noDos="true" mask="0x35" port="0xFE" />
        <Device type="ZXMAK2.Hardware.General.KeyboardDevice" />
        <Device type="ZXMAK2.Hardware.General.Debugger" />
        <Device type="ZXMAK2.Hardware.ZXBYTE.MemoryByte" />
    </Bus>
    
    <Bus name="BYTE 128K+TRDOS">
        <Device type="ZXMAK2.Hardware.ZXBYTE.UlaByte_Late" />
        <Device type="ZXMAK2.Hardware.General.BetaDiskInterface" />
        <Device type="ZXMAK2.Hardware.General.BeeperDevice" noDos="true" mask="0x35" port="0xFE"  />
        <Device type="ZXMAK2.Hardware.General.TapeDevice" noDos="true" mask="0x35" port="0xFE" />
        <Device type="ZXMAK2.Hardware.General.KeyboardDevice" />
        <Device type="ZXMAK2.Hardware.General.Debugger" />
        <Device type="ZXMAK2.Hardware.ZXBYTE.MemoryByte128" />
    </Bus>
    
    <Bus name="DELTA-C">
        <Device type="ZXMAK2.Hardware.Clone.UlaDelta" />
        <Device type="ZXMAK2.Hardware.General.BetaDiskInterface" />
        <Device type="ZXMAK2.Hardware.General.AY8910" />
        <Device type="ZXMAK2.Hardware.General.BeeperDevice" />
        <Device type="ZXMAK2.Hardware.General.TapeDevice" />
        <Device type="ZXMAK2.Hardware.General.KeyboardDevice" />
        <Device type="ZXMAK2.Hardware.General.KempstonJoystick" />
        <Device type="ZXMAK2.Hardware.General.Debugger" />
        <Device type="ZXMAK2.Hardware.Spectrum.MemorySpectrum48" romSet="Delta-C" />
    </Bus>
    
    <Bus name="LEC-48/528K">
        <Device type="ZXMAK2.Hardware.Spectrum.UlaSpectrum48" />
        <Device type="ZXMAK2.Hardware.Lec.BetaDiskInterfaceLec" />
        <Device type="ZXMAK2.Hardware.General.AY8910" />
        <Device type="ZXMAK2.Hardware.General.BeeperDevice" />
        <Device type="ZXMAK2.Hardware.General.TapeDevice" />
        <Device type="ZXMAK2.Hardware.General.KeyboardDevice" />
        <Device type="ZXMAK2.Hardware.General.KempstonJoystick" />
        <Device type="ZXMAK2.Hardware.General.Debugger" />
        <Device type="ZXMAK2.Hardware.Lec.MemoryLec48528" />
    </Bus>
    
    <Bus name="Leningrad-1">
        <Device type="ZXMAK2.Hardware.Clone.UlaLeningrad" />
        <Device type="ZXMAK2.Hardware.General.BetaDiskInterface" />
        <Device type="ZXMAK2.Hardware.General.AY8910" />
        <Device type="ZXMAK2.Hardware.General.BeeperDevice" noDos="false" mask="0x01" port="0xFE"  />
        <Device type="ZXMAK2.Hardware.General.TapeDevice" noDos="false" mask="0x01" port="0xFE" />
        <Device type="ZXMAK2.Hardware.General.KeyboardDevice" />
        <Device type="ZXMAK2.Hardware.General.Debugger" />
        <Device type="ZXMAK2.Hardware.Spectrum.MemorySpectrum48" />
    </Bus>
    
    <Bus name="PENTAGON 128K" modelId="Pentagon128" isDefault="true">
        <Device type="ZXMAK2.Hardware.Pentagon.UlaPentagon" />
        <Device type="ZXMAK2.Hardware.General.BetaDiskInterface" />
        <Device type="ZXMAK2.Hardware.General.AY8910" frequency="1750000" maskAddr="0xE002" maskData="0xE002" portAddr="0xFFFD" portData="0xBFFD" />
        <Device type="ZXMAK2.Hardware.General.BeeperDevice" />
        <Device type="ZXMAK2.Hardware.General.TapeDevice" />
        <Device type="ZXMAK2.Hardware.General.KeyboardDevice" />
        <Device type="ZXMAK2.Hardware.General.KempstonJoystick" />
        <Device type="ZXMAK2.Hardware.General.Debugger" />
        <Device type="ZXMAK2.Hardware.Pentagon.MemoryPentagon128" />
    </Bus>
    
    <Bus name="PENTAGON 512K" modelId="Pentagon512">
        <Device type="ZXMAK2.Hardware.Pentagon.UlaPentagon" />
        <Device type="ZXMAK2.Hardware.General.FddController" />
        <Device type="ZXMAK2.Hardware.General.AY8910" frequency="1750000" />
        <Device type="ZXMAK2.Hardware.General.BeeperDevice" />
        <Device type="ZXMAK2.Hardware.General.CmosGluck" />
        <Device type="ZXMAK2.Hardware.General.TapeDevice" />
        <Device type="ZXMAK2.Hardware.General.KeyboardDevice" />
        <Device type="ZXMAK2.Hardware.General.KempstonJoystick" />
        <Device type="ZXMAK2.Hardware.General.Debugger" />
        <Device type="ZXMAK2.Hardware.Pentagon.MemoryPentagon512" />
    </Bus>
    
    <Bus name="PENTAGON 1024K" modelId="Pentagon1024">
        <Device type="ZXMAK2.Hardware.Pentagon.UlaPentagon" />
        <Device type="ZXMAK2.Hardware.General.FddController" />
        <Device type="ZXMAK2.Hardware.General.AY8910" frequency="1750000" />
        <Device type="ZXMAK2.Hardware.General.BeeperDevice" />
        <Device type="ZXMAK2.Hardware.General.CmosGluck" />
        <Device type="ZXMAK2.Hardware.General.TapeDevice" />
        <Device type="ZXMAK2.Hardware.General.KeyboardDevice" />
        <Device type="ZXMAK2.Hardware.General.KempstonJoystick" />
        <Device type="ZXMAK2.Hardware.General.Debugger" />
        <Device type="ZXMAK2.Hardware.Pentagon.MemoryPentagon1024" />
    </Bus>
    
    <Bus name="PENT EVO">
        <Device type="ZXMAK2.Hardware.Evo.UlaPentEvo" />
        <Device type="ZXMAK2.Hardware.Evo.FddPentEvo" />
        <Device type="ZXMAK2.Hardware.Evo.IdePentEvo" />
        <Device type="ZXMAK2.Hardware.Evo.ZsdPentEvo" />
        <Device type="ZXMAK2.Hardware.Evo.AYCHRV" />
        <Device type="ZXMAK2.Hardware.General.BeeperDevice" />
        <Device type="ZXMAK2.Hardware.General.CovoxMono" noDos="true" mask="0xff" port="0xfb" />
        <Device type="ZXMAK2.Hardware.General.KeyboardDevice" noDos="False" mask="0xFF" port="0xFE" />
        <Device type="ZXMAK2.Hardware.General.KempstonMouseDevice" />
        <Device type="ZXMAK2.Hardware.Evo.CmosPentEvo" />
        <Device type="ZXMAK2.Hardware.General.Debugger" />
        <Device type="ZXMAK2.Hardware.Evo.MemoryPentEvo" />
    </Bus>
    
    <Bus name="PROFI+ 512 [V3.XX]">
        <Device type="ZXMAK2.Hardware.Profi.UlaProfi3XX" />
        <Device type="ZXMAK2.Hardware.Profi.FddControllerProfi" />
        <Device type="ZXMAK2.Hardware.Profi.IdeProfi" />
        <Device type="ZXMAK2.Hardware.General.AY8910" />
        <Device type="ZXMAK2.Hardware.General.BeeperDevice" />
        <Device type="ZXMAK2.Hardware.General.CovoxStereo" noDos="true" maskL="0xff" maskR="0xff" portL="0x5f" portR="0x3f" />
        <Device type="ZXMAK2.Hardware.General.TapeDevice" />
        <Device type="ZXMAK2.Hardware.Profi.KeyboardProfi" />
        <Device type="ZXMAK2.Hardware.General.KempstonMouseDevice" />
        <Device type="ZXMAK2.Hardware.Profi.CmosProfi" />
        <Device type="ZXMAK2.Hardware.General.Debugger" />
        <Device type="ZXMAK2.Hardware.Profi.MemoryProfi512" />
    </Bus>
    
    <Bus name="PROFI+ 1024 [V5.XX]">
        <Device type="ZXMAK2.Hardware.Profi.UlaProfi5XX" />
        <Device type="ZXMAK2.Hardware.Profi.FddControllerProfi" />
        <Device type="ZXMAK2.Hardware.Profi.IdeProfi" />
        <Device type="ZXMAK2.Hardware.General.AY8910" />
        <Device type="ZXMAK2.Hardware.General.BeeperDevice" />
        <Device type="ZXMAK2.Hardware.General.CovoxStereo" noDos="true" maskL="0xff" maskR="0xff" portL="0x5f" portR="0x3f" />
        <Device type="ZXMAK2.Hardware.General.TapeDevice" />
        <Device type="ZXMAK2.Hardware.Profi.KeyboardProfi" />
        <Device type="ZXMAK2.Hardware.General.KempstonMouseDevice" />
        <Device type="ZXMAK2.Hardware.Profi.CmosProfi" />
        <Device type="ZXMAK2.Hardware.General.Debugger" />
        <Device type="ZXMAK2.Hardware.Profi.MemoryProfi1024" />
    </Bus>
    
    <Bus name="QUORUM 64">
        <Device type="ZXMAK2.Hardware.Quorum.UlaQuorum" />
        <Device type="ZXMAK2.Hardware.Quorum.FddControllerQuorum" noDelay="True" />
        <Device type="ZXMAK2.Hardware.General.AY8910" />
        <Device type="ZXMAK2.Hardware.General.BeeperDevice" noDos="false" mask="0x99" port="0xFE"  />
        <Device type="ZXMAK2.Hardware.General.TapeDevice" noDos="false" mask="0x99" port="0xFE" />
        <Device type="ZXMAK2.Hardware.Quorum.KeyboardQuorum" />
        <Device type="ZXMAK2.Hardware.General.KempstonJoystick" />
        <Device type="ZXMAK2.Hardware.General.Debugger" />
        <Device type="ZXMAK2.Hardware.Quorum.MemoryQuorum64" />
    </Bus>
    
    <Bus name="QUORUM 256">
        <Device type="ZXMAK2.Hardware.Quorum.UlaQuorum" />
        <Device type="ZXMAK2.Hardware.Quorum.FddControllerQuorum" noDelay="True" />
        <Device type="ZXMAK2.Hardware.General.AY8910" />
        <Device type="ZXMAK2.Hardware.General.BeeperDevice" noDos="false" mask="0x99" port="0xFE"  />
        <Device type="ZXMAK2.Hardware.General.TapeDevice" noDos="false" mask="0x99" port="0xFE" />
        <Device type="ZXMAK2.Hardware.Quorum.KeyboardQuorum" />
        <Device type="ZXMAK2.Hardware.General.KempstonJoystick" />
        <Device type="ZXMAK2.Hardware.General.Debugger" />
        <Device type="ZXMAK2.Hardware.Quorum.MemoryQuorum256" />
    </Bus>
    
    <Bus name="Scorpion ZS 256 PROF-ROM" modelId="Scorpion">
        <Device type="ZXMAK2.Hardware.Scorpion.UlaScorpion" />
        <Device type="ZXMAK2.Hardware.General.FddController" />
        <Device type="ZXMAK2.Hardware.General.IdeSmuc" />
        <Device type="ZXMAK2.Hardware.General.AY8910" />
        <Device type="ZXMAK2.Hardware.General.BeeperDevice" noDos="true" mask="0x23" port="0xFE"  />
        <Device type="ZXMAK2.Hardware.General.TapeDevice" noDos="true" mask="0x23" port="0xFE" />
        <Device type="ZXMAK2.Hardware.General.KeyboardDevice" />
        <Device type="ZXMAK2.Hardware.General.KempstonJoystick" />
        <Device type="ZXMAK2.Hardware.General.KempstonMouseDevice" />
        <Device type="ZXMAK2.Hardware.General.CovoxMono" noDos="true" mask="0xff" port="0xdd" />
        <Device type="ZXMAK2.Hardware.General.Debugger" />
        <Device type="ZXMAK2.Hardware.Scorpion.MemoryScorpionProfRom256" />
    </Bus>
    
    <Bus name="Scorpion ZS 256" modelId="Scorpion">
        <Device type="ZXMAK2.Hardware.Scorpion.UlaScorpion" />
        <Device type="ZXMAK2.Hardware.General.FddController" />
        <Device type="ZXMAK2.Hardware.General.AY8910" />
        <Device type="ZXMAK2.Hardware.General.BeeperDevice" noDos="true" mask="0x23" port="0xFE"  />
        <Device type="ZXMAK2.Hardware.General.TapeDevice" noDos="true" mask="0x23" port="0xFE" />
        <Device type="ZXMAK2.Hardware.General.KeyboardDevice" />
        <Device type="ZXMAK2.Hardware.General.KempstonJoystick" />
        <Device type="ZXMAK2.Hardware.General.KempstonMouseDevice" />
        <Device type="ZXMAK2.Hardware.General.CovoxMono" noDos="true" mask="0xff" port="0xdd" />
        <Device type="ZXMAK2.Hardware.General.Debugger" />
        <Device type="ZXMAK2.Hardware.Scorpion.MemoryScorpion256" />
    </Bus>
    
    <Bus name="SPRINTER [Alpha ver]">
        <Device type="ZXMAK2.Hardware.Sprinter.SprinterULA" />
        <Device type="ZXMAK2.Hardware.Sprinter.SprinterFdd" noDelay="True"/>
        <Device type="ZXMAK2.Hardware.Sprinter.IdeSprinter" />
        <Device type="ZXMAK2.Hardware.Sprinter.CovoxBlaster" />
        <Device type="ZXMAK2.Hardware.Sprinter.SprinterKeyboard" />
        <Device type="ZXMAK2.Hardware.Sprinter.SprinterMouse" />
        <Device type="ZXMAK2.Hardware.Sprinter.SprinterRTC" />
        <Device type="ZXMAK2.Hardware.Sprinter.SprinterDebugger" />
        <Device type="ZXMAK2.Hardware.Sprinter.SprinterMMU" />
    </Bus>
    
    <Bus name="ZX Spectrum 48" modelId="Sinclair48">
        <Device type="ZXMAK2.Hardware.Spectrum.UlaSpectrum48" />
        <Device type="ZXMAK2.Hardware.General.BetaDiskInterface" />
        <Device type="ZXMAK2.Hardware.General.AY8910" frequency="1773400" maskAddr="0xC002" maskData="0xC002" portAddr="0xFFFD" portData="0xBFFD" />
        <Device type="ZXMAK2.Hardware.General.BeeperDevice" bitEar="4" bitMic="3" />
        <Device type="ZXMAK2.Hardware.General.TapeDevice" />
        <Device type="ZXMAK2.Hardware.General.KeyboardDevice" />
        <Device type="ZXMAK2.Hardware.General.KempstonJoystick" noDos="true" mask="0xe0" port="0x1f" />
        <Device type="ZXMAK2.Hardware.General.Debugger" />
        <Device type="ZXMAK2.Hardware.Spectrum.MemorySpectrum48" />
    </Bus>
    
    <Bus name="ZX Spectrum 128" modelId="Sinclair128">
        <Device type="ZXMAK2.Hardware.Spectrum.UlaSpectrum128" />
        <Device type="ZXMAK2.Hardware.General.BetaDiskInterface" />
        <Device type="ZXMAK2.Hardware.General.AY8910" frequency="1773400" maskAddr="0xC002" maskData="0xC002" portAddr="0xFFFD" portData="0xBFFD" />
        <Device type="ZXMAK2.Hardware.General.BeeperDevice" bitEar="4" bitMic="3" />
        <Device type="ZXMAK2.Hardware.General.TapeDevice" />
        <Device type="ZXMAK2.Hardware.General.KeyboardDevice" />
        <Device type="ZXMAK2.Hardware.General.KempstonJoystick" noDos="true" mask="0xe0" port="0x1f" />
        <Device type="ZXMAK2.Hardware.General.Debugger" />
        <Device type="ZXMAK2.Hardware.Spectrum.MemorySpectrum128" />
    </Bus>
    
    <Bus name="ZX Spectrum +3" modelId="SinclairPlus3">
        <Device type="ZXMAK2.Hardware.Spectrum.UlaPlus3" />
        <Device type="ZXMAK2.Hardware.General.AY8910" frequency="1773400" maskAddr="0xC002" maskData="0xC002" portAddr="0xFFFD" portData="0xBFFD" />
        <Device type="ZXMAK2.Hardware.General.BeeperDevice" bitEar="4" bitMic="3" />
        <Device type="ZXMAK2.Hardware.General.TapeDevice" />
        <Device type="ZXMAK2.Hardware.General.KeyboardDevice" />
        <Device type="ZXMAK2.Hardware.General.KempstonJoystick" />
        <Device type="ZXMAK2.Hardware.Spectrum.PrinterPlus3" />
        <Device type="ZXMAK2.Hardware.General.Debugger" />
        <Device type="ZXMAK2.Hardware.Spectrum.MemoryPlus3" />
    </Bus>
    
</Machines> 
